@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");



html, body {
  overflow-x: hidden;
  width:100%;
  height:100%;
}

main{
  background-image:linear-gradient(to bottom right, #2f3a54, #1e0646);
}

/*Navbar*/
.navbar{
  background-image:linear-gradient(to right, #2f3a54, #1e0646);
  opacity: 98%;
  position:relative;
  display:flex;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius:30%;
}

.nav ul{
    padding: 0;
    list-style-type: none;
}

.nav-item a{
  font-family:'Montserrat', sans-serif;
}

.nav ul, li{
    list-style-type:none;
    display:inline-block;
}

.navbar-brand{
  padding-left:3rem;
  font-family:'Inter', sans-serif;
}

.footnav {
  background-image:linear-gradient(to right, #2f3a54, #1e0646);
  background-blend-mode:normal;
  height:auto!important;
  font-family:'Montserrat', sans-serif;
  min-height:100%;
  padding-top:1.75rem;
  padding-bottom:1.15rem;
}

.footnav h5 {
  margin-bottom:1rem;
}

.footnav {
  height:100%;
}

/*homepage*/
.homepage {

}

.homepage img{
  flex:content;
  justify-content:space-between;
  position:relative;
  width:75%;
  height:auto;
  border-radius: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/*use media queries for better look on mobile here*/
@media only screen and (max-width:500px) {
    .homepage img {
    width: auto;
    margin-top: 2rem;
  }
  .socials > .social-icon {
    margin-top:2rem;
    margin-right:none;
  }

    .button-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      /* Adjust as needed */
    }

    .button-block ul {
      padding: 0;
      /* To remove any default padding */
    }

    .button-block ul>li {
      list-style-type: none;
    }

  .winepic img {
    width: 25%;
    margin-right:100px;
  }

  .codepic img {
    width: 50%;
    height:auto;
    margin-left:100px;
  }

}

@media only screen and (min-height:800px) {
  .background {
      height:80vh;
    }

  .homepage img {
    width: 55%;
  }
}


.background {
  justify-content:space-evenly;
}

.leftSide h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing:0.5rem;
    width: auto;
    font-size: calc(100% + 4rem);
    color:#b4d1d6;
    padding-bottom: 1rem;
    padding-top:1rem;
}

.leftSide h2{
  font-family: 'Montserrat', sans-serif;
  word-spacing:0.25rem;
  letter-spacing: 0.2rem;
  margin-top: 1.35rem;
  color:#b4d1d6;
}

.button-block ul>li {
  display:inline-block;
  margin-right: 2rem;
  list-style-type: none;
}


.socials > .social-icon {
  list-style-type: none;
  margin-left: 4rem;
  margin-right: auto;
}

.socials {
  padding-left: 3rem;
  margin-right: 7rem;
  margin-top: 2rem;
}

/*Animation for Homepage*/
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	        animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* About Page */
.bio {
  flex:content;
  justify-content:space-evenly;
  padding-bottom: 4rem;
}

.row .col-sm-3>h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:#b4d1d6;
}

.headshot img{
    width:auto;
    height: 62%;
    max-height:200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:3.7rem;
    margin-bottom:2rem;
}

.col-sm-3 {
  font-family:'Montserrat', sans-serif;
  text-align: center;
  vertical-align: middle;
}

.col-sm-6{
  font-family:'Montserrat', sans-serif;
  color:#b4d1d6;
}

.skills {
  background-color:#0a032b;
  flex:content;
  justify-content: space-between;
  color:khaki;
}

.titleSkill {
 font-family:'Montserrat', sans-serif;
 color: khaki;
 padding-bottom: 1rem;
}

.container .col-sm-4 {
  font-family:'Montserrat', sans-serif;
  color: khaki;
}

.hardskills h2{
  margin-top: 1.0 rem;
  margin-bottom: 1.0 rem;
}

.row-space {
  margin-bottom: 1rem;
  /* Adjust the value to your preference */
}

.softskills i {
  margin-top: 1.o rem;
  margin-bottom: 1.0 rem;
}

/*Hobbies

.hobbies {
  padding-bottom: 1rem;
  margin-top: 2.15rem;
  font-family:'Montserrat', sans-serif;
  color:#b4d1d6;
}

.hobby1 {
  padding-top: 4rem;
  padding-bottom: 5rem;
  font-family:'Montserrat', sans-serif;
}

.hobby1 h2{
  text-align: right;
}

.coding {
  text-align: right;
  font-family:'Montserrat', sans-serif;
  margin-left:5rem;
}

.codepic img {
  height: 100%;
  width: 50%;
  margin-right:5rem;
}

.winepic img{
  height: auto;
  width: 50%;
  margin-left:10rem;
}

.sommelier {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-left: 5rem;
}

.hobby2 {
  padding-top: 2rem;
  text-align: left;
}
*/

/* Stores

.storeTitle h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 12rem;
  color:#b4d1d6;
}

.conGum {
  margin-top:10vh;
  margin-bottom: 10vh;
  font-family: 'Montserrat', sans-serif;
  background-color:rgba(16, 0, 59, 0.623);
}

.conGum h2 {
  margin-top:2rem;
}

.conGum hr{
  color:#b4d1d6;
  width:75%;
  margin:auto;
  margin-top:1rem;
}

.gumroad {
  justify-content:space-evenly;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ebook img {
  height: 95%;
  width: 65%;
}

.ebookCard {
  color:#b4d1d6;
  margin-bottom:0;
  margin-top:5rem;
}

.card-img-top {
  width: 75%;
  height:100%;
  object-fit:cover;
}

.freelance {
  color:#b4d1d6;
  font-family: 'Montserrat', sans-serif;
}
.freelance h2{
  color:#b4d1d6;
}

.freeTable {
  background-color:rgba(16, 0, 59, 0.623);
  font-size:1.25rem;
  margin-top: 2rem;
  border-color:#668091!important;
  color:#b4d1d6!important;
}
*/

/*
.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *//*
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
*/